body{
    background-color: rgb(47, 255, 0);
}
#Score{
font-size: 36;
margin-right: 85%;
}
#Timer{
    font-size: 36;
    float: right;
    margin-right: 5%;
}
#sketch_to_be_drawn{
    color: red;
}